.frist{
    color: red;
    background-color: orange;
    padding: 8px 16px;
    border-radius: 5px;
}

.second{
    color: blue;
    background-color: orange;
    padding: 8px 16px;
    border-radius: 5px;
}

.text{
    color:black;
    background-color: orange;
    padding: 8px 16px;
    border-radius: 5px;
}